@import "mixin";

#detailMain {
  width: 100%;
  @include for-size(md) {
    max-width: 720px;
  }
  @include for-size(sm) {
    max-width: 560px;
  }
  @include for-size(xs) {
    max-width: 95%;
  }
}
#detailMain .detailMainStyle {
  margin-top: 50px;
  margin-right: 15px;
  margin-left: 15px;
  @include for-size(sm) {
    margin-top: 20px;
  }
}
#detailMain .left {
  margin-bottom: 0;
}
#detailMain .film {
  padding: 0 7px;
  margin-bottom: 15px;
}
#detailMain .rowLeftInfo {
  margin-bottom: 10px;
}
#detailMain.dark .contentTitle {
  color: #fff;
}
#detailMain .contentTitle {
  width: 35%;
  float: left;
  font-size: 18px;
  font-family: "SF Medium";
  @include for-size(phone-sm) {
    width:50% !important;
  }
}
#detailMain .contentInfo {
  width: 40%;
  float: left;
  font-size: 18px;
  color: #4a4a4a;
  @include for-size(xs) {
    font-size: 15px;
  }
}
#detailMain.dark .contentInfo {
  color: #e9e9e9;
}
#detailMain .right {
  padding-left: 10px !important;
  margin-bottom: 0;
}
#detailMain .rowLeftInfo {
  margin-bottom: 10px;
}
#detailMain .contentTitle {
  width: 35%;
  float: left;
  font-size: 18px;
  font-family: "SF Medium";
}
#detailMain.dark .contentTitle {
  color: #fff;
}
#detailMain .contentInfoFull {
  text-align: justify;
  white-space: pre-wrap;
  font-family: "SF Regular";
  width: 100%;
  float: left;
  font-size: 20px;
  @include for-size(xs) {
    font-size: 18px;
  }
  @include for-size(iphone) {
    font-size: 15px;
  }
}
#detailMain.dark-info {
  .film {
    &.right {
      .contentInfoFull {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .contentTitle,
  .description {
    color: rgba(255, 255, 255, 0.8);
  }
  .contentInfo {
    color: rgba(255, 255, 255, 0.5);
  }
  .chiTiet-trailer {
    color: rgba(255, 255, 255, 0.5);
  }
}
#detailMain {
  .film {
    &.right {
      .contentTitle {
        font-size: 20px;
      }
    }
  }
  .chiTiet-trailer {
    p{
      text-align: center;
      width: 100px;
      border-bottom: 4px double #68b306;
    }
    .trailer {
      iframe {
        height: 600px;
        @include for-size(md) {
          height: 450px;
          @include for-size(sm) {
            height: 350px;
          }
          @include for-size(xs) {
            height: 280px;
          }
          @include for-size(phone-sm) {
            height: 230px;
          }
          @include for-size(iphone) {
            height: 200px;
          }
        }
      }
    }
  }
}
