@import "main";
// Height img responsive
$height-xl: 380px;
$height-lg: 250px;
$height-md: 300px;
$height-sm: 340px;
$height-xs: 260px;
$height-phone-sm: 350px;

// height-width rate responsive
$height-1: 55px;
$height-2: 50px;
$width-1: 60px;
$width-2: 55px;

.item-phim {
  .item-phim-wrap {
    position: relative;
    .item-phim__content {
      // position: relative;
      .item-phim__img {
        img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          @include for-size(xl) {
            height: $height-xl;
          }
          @include for-size(lg) {
            height: $height-lg;
          }
          @include for-size(md) {
            height: $height-md;
          }
          @include for-size(sm) {
            height: $height-sm;
          }
          @include for-size(xs) {
            height: $height-xs;
          }
          @include for-size(phone-sm) {
            height: $height-phone-sm;
          }
        }
      }
      .item-phim__bom-tan {
        img {
          position: absolute;
          top: -25px;
          left: -10%;
          width: 70%;
          z-index: 100;
          display: none;
        }
        &.bom-tan img {
          display: block;
        }
      }
      .item-phim__rate {
        position: absolute;
        top: 3%;
        right: 5%;
        font-family: "SF Medium";
        font-size: 18px;
        background-color: rgba(12, 27, 54, 0.8);
        border: 1px solid #1f2e46;
        border-radius: 4px;
        padding: 2px;
        text-align: center;
        line-height: 1.1;
        z-index: 100;
        width: $width-1;
        height: $height-1;
        @include for-size(ll) {
          width: $width-2;
          height: $height-2;
        }
        @include for-size(sm) {
          width: $width-1;
          height: $height-1;
        }
        @include for-size(xs) {
          width: $width-2;
          height: $height-2;
        }
        @include for-size(phone-sm) {
          width: $width-1;
          height: $height-1;
        }
        p {
          margin-top: 5px;
          margin-bottom: 5px;
          color: white;
        }
        .item-danhGia {
          width: 100%;
        }
      }
    }
    .item-phim__info {
      p {
        font-size: $font-size2;
        color: $color-fontL-o8;
        margin-top: $pad-mar1;
      }
      .item-phim__title {
        @include text-overflow(2);
        font-weight: bold;
        height: 45px;
        max-height: 45px;
        font-family: "SF Medium";
        font-size: 18px;
        // color: #000;
        line-height: 22px;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        @include for-size(ll) {
          font-size: 18px;
        }
        @include for-size(lg) {
          font-size: 15px;
        }
        @include for-size(md) {
          font-size: 18px;
        }
        @include for-size(sm) {
          // font-size: 20px;
        }
        @include for-size(phone-sm) {
          font-size: 20px;
        }

        .item-phim__maPhim {
          font-size: 15px;
          background-color: $color-but-lo;
          border-radius: 4px;
          padding: 1px 8px;
          color: #fff;
          min-width: 33px;
          text-align: center;
          display: inline-block;
          margin-right: 8px;
          @include for-size(lg) {
            font-size: 12px;
          }
          @include for-size(md) {
            font-size: 15px;
          }
        }
      }
    }
    .item-phim__hover {
      opacity: 0;
      transition: all 0.5s;
      .hover__bg {
        background: radial-gradient(#ffffff00, #000000);
        width: 100%;
        height: 82%;
        position: absolute;
        border-radius: 5px;
        top: 0;
        left: 0;
        opacity: 1;
        transition: all 0.5s;
        cursor: pointer;
        @include for-size(xl) {
          height: $height-xl;
        }
        @include for-size(lg) {
          height: $height-lg;
        }
        @include for-size(md) {
          height: $height-md;
        }
        @include for-size(sm) {
          height: $height-sm;
        }
        @include for-size(xs) {
          height: $height-xs;
        }
        @include for-size(phone-sm) {
          height: $height-phone-sm;
        }
        img {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.5;
          transition: all 0.5s;
          &:hover {
            opacity: 1;
          }
        }
      }
      .hover__button {
        span {
          transition: all 0.5s;
        }
        button {
          position: absolute;
          bottom: 3%;
          width: 100%;
          background-color: $color-but-lo;
          padding: 5px 0;
          span {
            color: white;
          }
          font-size: 22px;
        }
        &:hover span {
          padding-right: 33px;
        }
      }
    }
    &:hover .item-phim__hover {
      opacity: 1;
    }
    &:hover .item-phim__info {
      opacity: 0;
    }
  }
}

// Hình Ảnh Item

// Hình Ảnh COnfig

.item-phim-dark {
  .item-phim-wrap {
    .item-phim__info {
      .item-phim__title {
        span:last-child {
          color: $color-fontD;
        }
      }
      p {
        color: $color-fontD-o8;
      }
    }
  }
}

// .item-danhGia{
//   width: 20%;
//   margin: 5px 10px;
// }
