<div id="tin-tuc" [ngClass]="{'tin-tuc-dark':isTheme}" class="tin-tuc container mx-auto">
    <h3 class="tin-tuc__header pl-3 active">TIN TỨC</h3>
    <div class="row">
        <div class="col-sm-6 tin-tuc__content">
            <div class="tin-tuc__item ">
                <div class="tin-tuc__img">
                    <a target='_blank'
                        href="https://zingnews.vn/shin-min-ah-dong-phim-dien-anh-sau-6-nam-post1132510.html">
                        <img src="assets/img/news1.jpeg" style="width: 100%;" alt="">
                    </a>
                </div>
                <div class="tin-tuc__title">
                    <a target='_blank' href="https://zingnews.vn/shin-min-ah-dong-phim-dien-anh-sau-6-nam-post1132510.html" title="Shin Min Ah đóng phim điện ảnh sau 6 năm">Shin Min Ah đóng phim điện ảnh sau 6 năm</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 tin-tuc__content">
            <div class="tin-tuc__item ">
                <div class="tin-tuc__img">
                    <a target='_blank'
                        href="https://zingnews.vn/black-widow-va-bai-toan-kho-danh-cho-marvel-studios-post1131965.html">
                        <img src="assets/img/news2.jpg" style="width: 100%;" alt="">
                    </a>
                </div>
                <div class="tin-tuc__title">
                    <a target='_blank' href="https://zingnews.vn/black-widow-va-bai-toan-kho-danh-cho-marvel-studios-post1131965.html" title="‘Black Widow’ và bài toán khó dành cho Marvel Studios">‘Black Widow’ và bài toán khó dành cho Marvel Studios</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 tin-tuc__content">
            <div class="tin-tuc__item2 tin-tuc__item">
                <div class="tin-tuc__img">
                    <a target='_blank'
                        href="https://zingnews.vn/the-batman-ghi-hinh-tro-lai-post1132608.html#zingweb_category_category9_593_1">
                        <img src="assets/img/news3.jpg" style="width: 100%;" alt="">
                    </a>
                </div>
                <div class="tin-tuc__title">
                    <a target='_blank' href="https://zingnews.vn/the-batman-ghi-hinh-tro-lai-post1132608.html#zingweb_category_category9_593_1" title="‘The Batman’ ghi hình trở lại">‘The Batman’ ghi hình trở lại</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 tin-tuc__content">
            <div class="tin-tuc__item2 tin-tuc__item">
                <div class="tin-tuc__img">
                    <a target='_blank'
                        href="https://zingnews.vn/scarlett-johansson-len-tieng-ve-cai-chet-cua-nhan-vat-black-widow-post1132683.html">
                        <img src="assets/img/news4.jpg" style="width: 100%;" alt="">
                    </a>
                </div>
                <div class="tin-tuc__title">
                    <a target='_blank' href="https://zingnews.vn/scarlett-johansson-len-tieng-ve-cai-chet-cua-nhan-vat-black-widow-post1132683.html"
                        title="Scarlett Johansson lên tiếng về cái chết của nhân vật Black Widow" title="Scarlett Johansson lên tiếng về cái chết của nhân vật Black Widow">Scarlett Johansson lên tiếng về cái chết của nhân vật Black Widow</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 tin-tuc__content">
            <div class="row">
                <div class="col-12 ">
                    <div class="tin-tuc__item3 tin-tuc__item d-flex">
                        <div class="tin-tuc__img">
                            <a target='_blank'
                                href="https://zingnews.vn/dien-anh-han-quoc-bi-dinh-tre-vi-covid-19-post1132221.html">
                                <img src="assets/img/news5.jpg" style="width: 100%;" alt="">
                            </a>
                        </div>
                        <div class="tin-tuc__title">
                            <a target='_blank' href="https://zingnews.vn/dien-anh-han-quoc-bi-dinh-tre-vi-covid-19-post1132221.html" title="Điện ảnh Hàn Quốc bị đình trệ vì Covid-19">Điện ảnh Hàn Quốc bị đình trệ vì Covid-19</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="tin-tuc__item3 tin-tuc__item d-flex">
                        <div class="tin-tuc__img">
                            <a target='_blank'
                                href="https://zingnews.vn/cach-my-nhan-tro-nen-xau-xi-tren-phim-anh-post1132300.html">
                                <img src="assets/img/news6.jpg" style="width: 100%;" alt="">
                            </a>
                        </div>
                        <div class="tin-tuc__title">
                            <a target='_blank' href="https://zingnews.vn/cach-my-nhan-tro-nen-xau-xi-tren-phim-anh-post1132300.html" title="CÁCH MỸ NHÂN TRỞ NÊN XẤU XÍ TRÊN PHIM ẢNH">CÁCH MỸ NHÂN TRỞ NÊN XẤU XÍ TRÊN PHIM ẢNH</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="tin-tuc__item3 tin-tuc__item d-flex">
                        <div class="tin-tuc__img">
                            <a target='_blank'
                                href="https://zingnews.vn/nhung-ngoi-sao-muon-duoc-tai-xuat-trong-vu-tru-dien-anh-marvel-post1132091.html">
                                <img src="assets/img/news7.jpg" style="width: 100%;" alt="">
                            </a>
                        </div>
                        <div class="tin-tuc__title">
                            <a target='_blank' href="https://zingnews.vn/nhung-ngoi-sao-muon-duoc-tai-xuat-trong-vu-tru-dien-anh-marvel-post1132091.html"
                                title="Những ngôi sao muốn được tái xuất trong Vũ trụ Điện ảnh Marvel">Những ngôi sao muốn được tái xuất trong Vũ trụ Điện ảnh Marvel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>