<div class="modal-youtube">
    <div class="modal-content--config" [ngStyle]="{height : currentHeight < 500 ? '320px':'',width : currentHeight < 500 ? '450px':''}">
        <div class="close-modal" [ngStyle]="{opacity : currentHeight < 500 ? '1':''}">
            <img src="assets/img/close.png" alt="">
        </div>
        <iframe width="100%" height="100%" [src]="trailer|urlYoutube|safe" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
