@import "main";
p.suatChieu__content {
  // Giờ Chiếu
  float: left;
  font-family: "SF Medium";
  padding: 3px $pad-mar2;
  display: block;
  text-align: center;
  background-color: #f6f6f680;
  border-radius: 7px;
  border: 1px solid #e4e4e4;
  font-weight: 500;
  text-decoration: none;
  margin: 0 15px 15px 0;
  color: $color-fontL;
  cursor: pointer;
  @include for-size(phone-sm) {
    padding: 3px $pad-mar1;
    margin: 0 10px 15px 0;
  }
  span {
    color: $color-timeL;
  }
  span:first-child {
    font-weight: 550;
    font-size: 22px;
    @include for-size(md) {
      font-size: 18px;
    }
    @include for-size(sm) {
      font-size: 20px;
    }
    @include for-size(phone-sm) {
      font-size: 15px;
    }
  }
  &:hover span:first-child {
    color: $color-but-lo;
  }
  span:last-child {
    font-weight: 550;
    color: $color-fontL-o6;
    @include for-size(md) {
      font-size: 15px;
    }
    @include for-size(sm) {
        font-size: 18px;
      }
    @include for-size(phone-sm) {
      font-size: 10px;
    }
  }
}
p.suatChieu-dark {
  background-color: #e6e6e600;
  span:first-child {
    color: $color-timeD;
  }
  span:last-child {
    color: #afafaf;
  }

}
