<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <h4 class="mb-3">Heading</h4>
          <p class=" text-white-50">Đồ án cuối khóa CyberSoft - Angular </p>
          <p class=" text-white-50">Học Viên: Phạm Quang Lương - Lớp FE41 </p>
        </div>
        <div class=" col-lg-3 col-xs-12 links ">
          <h4 class=" mt-lg-0 mb-3 mt-sm-3 contact">Liên Hệ</h4>
            <ul class="m-0 p-0">
              <li> <a target="_blank" href="https://www.facebook.com/ku.mit.50"><i class="fab fa-facebook"></i>Facebook</a></li>
              <li> <a target="_blank" href="https://zalo.me/0334068547"><img src="assets/img/zalo.png" alt="">Zalo</a></li>
              <li> <a target="_blank" href="https://github.com/"><i class="fab fa-github"></i>GitHub</a></li>
              <li> <a target="_blank" href="https://twitter.com/PhmQUangLng2"><i class="fab fa-twitter"></i>Twitter</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-xs-12 location">
          <h4 class="mt-lg-0 mb-3 mt-sm-4">Địa Chỉ</h4>
          <p class="location-item "><i class="fas fa-map-marker"></i>Quận 9, Thành Phố Hồ Chí Minh, Việt Nam</p>
          <p class="location-item mb-0"><i class="fa fa-phone"></i>0334-068-547</p>
          <p class="location-item "><i class="fa fa-envelope"></i>davidpham1003@gmail.com</p>
        </div>
      </div>
      <div class="row mt-4 ">
        <div class="col copyright">
          <p class="text-white-50 text-center p-2">© 2020. All Rights Reserved.</p>
        </div>
      </div>
    </div>
    </div>