@import '../them-sua-nguoi-dung/them-sua-nguoi-dung.component.scss';
@import '../them-sua-phim/them-sua-phim.component.scss';
.item-addUser{
    label{
        width: 100px;
    }
    select{
        width: 608px;
        margin-left: 100px;
    }
}
