@import "mixin";
.styleGradient {
  top: 0;
  left: 0;
  height: 101.5%;
  width: 100%;
  // max-height: 736px;
  position: absolute;
  background: linear-gradient(#fdfbfb00, #f2f3f3);
  z-index: 1;
}
.detail-header {
  color: white;
  position: relative;
  @include for-size(md) {
    margin-top: 76px;
  }
  .img-header {
    width: 100%;
    @include for-size(sm) {
      display: none;
    }
  }
  .img-header-sm {
    @include for-size(sm) {
      height: 350px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      // filter: blur(1px);
      position: relative;
    }
    @include for-size(xs) {
      height: 300px;
    }
    .play-icon,
    .header-title {
      position: absolute;
      z-index: 500;
    }
    .play-icon {
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .header-title {
      bottom: 10px;
      left: 30px;
      p {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.7);
      }
      .detail-header__title {
        p {
          font-size: 35px;
          font-weight: 500;
          color: rgb(0, 0, 0);
        }
        .Cyber {
          font-size: 15px;
          background-color: #fb4226;
          border-radius: 4px;
          padding: 5px 8px;
          min-width: 33px;
          text-align: center;
          display: inline-block;
          margin-right: 8px;
          align-self: center;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  .detail-header__content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 960px;
    width: 100%;
    transition: all 0.5;
    @include for-size(lg) {
      top: 60%;
      width: 80%;
    }
    @include for-size(md) {
      top: 50%;
    }
    .detail-header-info {
      display: flex;
      .header-detail-img {
        position: relative;
        overflow: hidden;
        .img-phim img {
          width: 214px;
          height: 316px;
          @include for-size(ll) {
            width: 180px;
            height: 250px;
          }
        }
        .img-border,
        .img-hover,
        .play-icon {
          position: absolute;
          @include for-size(md) {
            top: 0;
            left: 0;
          }
        }
        .img-border,
        .img-hover {
          img {
            @include for-size(ll) {
              width: 180px;
              height: 250px;
            }
          }
        }
        .play-icon {
          cursor: pointer;
          opacity: 0;
          top: 50%;
          left: 50%;
          transition: all 1s;
          transform: translate(-50%, -50%);
          img {
            width: 50px;
            height: 50px;
          }
          @include for-size(sm) {
            opacity: 1;
            img {
              width: 80px;
              height: 80px;
            }
          }
        }
        &:hover .play-icon {
          opacity: 1;
        }
        .img-hover {
          bottom: -100%;
          left: -100%;
          transition: all 0.2s;
        }
        &:hover .img-hover {
          bottom: 0%;
          left: 0;
        }
        .img-border {
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
    .header-title {
      margin-left: 20px;
      align-self: center;

      p {
        font-size: 15px;
        color: rgb(0, 0, 0,0.8);
        font-weight: 550;
      }
      .detail-header__title {
        font-weight: bold;
        font-family: "SF Medium";
        color: rgb(0, 0, 0);
        // color: #000;
        .Cyber {
          font-size: 15px;
          background-color: #fb4226;
          border-radius: 4px;
          padding: 5px 8px;
          color: #fff;
          min-width: 33px;
          text-align: center;
          display: inline-block;
          margin-right: 8px;
          align-self: center;
        }
        p {
          font-size: 25px;
        }
      }
      .header-title__button a {
        background-color: #fb4226;
        padding: 5px 20px;
        color: white;
        font-size: 18px;
      }
    }
    .header-circleStar {
      @include for-size(xs) {
        display: none;
      }
      align-self: center;
      .circlePercent {
        position: relative;
        font-size: 60px;
        color: white;
        .circle-danhGia {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .circleStar-star {
        img {
          width: 50px;
        }
      }
    }
  }
}
.detail-footer {
  padding:50px 0;
  max-width: 1140px;
  @include for-size(lg) {
    max-width: 960px;
  }
  @include for-size(md) {
    max-width: 100%;
  }
  @include for-size(sm) {
    padding: 10px 0; 
  }
  .detai-footer-title {
    padding:0 50px;
    h3 {
      padding-right: 50px;
      transition: all 0.5s;
      font-size: 20px;
      font-weight: 400;
      &:hover {
        color: #fb4226;
        font-size: 25px;
        @include for-size(xs) {
          font-size: 20px;
        }
      }
      @include for-size(xs) {
        font-size: 15px;
        padding: 0 20px;
      }
    }
    h3.active {
      font-weight: 550;
      color: #fb4226;
      font-size: 25px;
      pointer-events: none;
      @include for-size(xs) {
        font-size: 20px;
      }
      @include for-size(iphone) {
        font-size: 18px;
      }
    }
    @include for-size(sm) {
      padding: 40px 30px;
    }
    @include for-size(xs) {
      padding: 30px 20px;
    }
    @include for-size(phone-sm) {
      padding: 20px 0;
    }
  }
}
.dark-detail {
  .styleGradient {
    // background: linear-gradient(#0000, #000);
    // background: linear-gradient(#0000, #000);
    background: linear-gradient(#fdfbfb00, #1e2935);
  }
  .detail-header {
    .header-title {
      p {
        color: rgba(255, 255, 255, 0.7);
      }
      .detail-header__title {
        p {
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  .detai-footer-title {
    h3 {
      color: rgba(255, 255, 255, 0.6);
      &:hover {
        color: #fb4226;
      }
    }
  }
}
