@import 'mixin';
.ung-dung {
  background-image: url("../../../../assets/img/background.jpg");
  background-attachment: fixed;
  padding: 100px;
  @include for-size(md) {
    padding: 50px;
  }
  @include for-size(sm) {
    padding: 50px 0;
  }
  .ung-dung__text {
    padding-right: 30px;
    color: white;
    align-self: center;
    @include for-size(md) {
      text-align: center;
    }
    .text-u-left{
      color: #fff;
    font-weight: 700;
    font-size: 35px;
    padding: 5px 0;
    @include for-size(sm) {
      font-size: 30px;
    }
    @include for-size(phone-sm) {
      font-size: 25px;
    }
    }
    p {
      font-size: 18px;
      padding: 0;
      @include for-size(sm) {
        font-size: 15px;
      }
    }
    button {
      background-color: #fb4226;
      margin: 15px 0;
      color: white;
      font-size: 18px;
      @include for-size(md) {
        margin-bottom: 40px ;
      }
    }
  }
}
img {
  width: 100%;
}
.ung-dung__dt {
  width: 100%;
  .ung-dung__img {
    width: 45%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    @include for-size(sm) {
      width: 60%;
    }
    img.img-dt {
      z-index: 500;
      overflow: hidden;
    }
    .ung-dung__carousel {
      position: absolute;
      width: 88%;
      left: 6%;
      top: 2%;
      img {
        border-radius: 7px;
      }
    }
    // .ung-dung__carousel {
    //   position: absolute;
    //   top: 0%;
    //   left: 5%;
    //   width: 90%;
    //   height: 100%;
    //   .carousel{
    //       width: 100%;
    //       height: 90%;
    //   }
    //   img {
    //     border-radius: 80px;
    //     height: 95%;
    //   }
    // }
  }
}
