@import "../../trang-chu/he-thong-rap/he-thong-rap.component.scss";
@import "../../trang-chu/he-thong-rap/lich-chieu-rap/lich-chieu-rap.component.scss";
@import "../../trang-chu/he-thong-rap/lich-chieu-rap/lich-chieu-phim/lich-chieu-phim.component.scss";
@import "../../trang-chu/he-thong-rap/lich-chieu-rap/lich-chieu-phim/gio-xem/gio-xem.component.scss";
@import 'main';
#chiTietRap.rap {
  padding-top:  $pad-mar5;
  width: 100%;
  margin: 0 auto;
  @include for-size(sm) {
    width: 95%;
  }
  @include for-size(phone-sm) {
    width: 100%;
    padding-top:  0;
  }
  .rap__content {
    .rap__logo {
      display: flex;
      .rap__item {
        padding-right:  $pad-mar8;
        padding-left:  $pad-mar8;
        img {

          @include wh-circle(100px);
          @include for-size(md) {
            @include wh-circle(80px);

          }
          @include for-size(xs) {
            @include wh-circle(70px);

          }
        }
        @include for-size(lg) {
          padding: $pad-mar2 $pad-mar6;
        }
        @include for-size(xs) {
          padding-bottom: 0;
        }
        @include for-size(phone-sm) {
          padding-bottom: $pad-mar2;
          & .bg-item {
            width: 100%;
            .img-logo {
              position: relative;
              img {
                transform: translateX(-10px);
                width: 50%;
                height: 100%;
              }
            }
          }
        }
      }
    }
    .rap__lich-chieu {
      .lich-chieu {
        @include for-size(xs) {
          padding-top: 0;
        }
        .lich-chieu__content {
          border: none;
          .lich-chieu__rap {
            padding-right: 15px;
            .lich-chieu__item{
              img{
                @include for-size(phone-sm) {
                  width: 50px;
                  height: 60px;
                }
              }
              
            }
          }
        }
      }
    }
  }
}
.lich-chieu__phim {
  padding-left: $pad-mar8;
}
.lich-phim__ngayXem {
  height: 85px;
  overflow: auto;
  @include for-size(lg) {
    height: 74px;
  }
  @include for-size(sm) {
  }
  .ngay-xem-item {
    padding: 0 $pad-mar8;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
  }
  .active {
    color: #fb4226;
  }
}
.rap-dark {
  .lich-phim__ngayXem {
    color:$color-fontD-o8;
  }
  .suatChieu__content {
    span {
      color:$color-timeD !important;
    }
  }
  .tenPhim {
    color: $color-fontD !important;
  }
  .thoiLuong {
    color: $color-fontD-o6 !important;
  }
  .tenCumRap {
    color: $color-fontD !important;
  }
}
.lich-phim__suatChieu {
  .suatChieu__content {
    span {
      color: $color-timeL;
      font-size: 18px !important;
    }
  }
}
